body {
	overflow-x: hidden;
	overflow-y: scroll; 
}

.grid-sizer, .grid-item { 
	width: 25%;
}

.grid-item img {
	width: 100%;
	overflow: hidden;
}

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px)
and (orientation: portrait) {
	.grid-sizer, .grid-item { 
		width: 50%;
	}
}

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) {
	.grid-sizer, .grid-item { 
		width: 33%;
	}
}