		<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
		<script src="https://npmcdn.com/packery@2.0/dist/packery.pkgd.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script>
			$(window).load(function() {
				$('.grid').packery({
					itemSelector: '.grid-item',
			  		columnWidth: '.grid-sizer'
				});
				$grid.imagesLoaded().progress( function() {
					$grid.packery('layout');
				});
			});
		</script>
	</html>