{% include 'header.html' %}
<body>
{% if message %}
	{{message}}
{% endif %}
	<form method="post" action="/addhouse">
		<p><input type="text" name="house" value="" placeholder="Rightmove URL"></p>
	    <p class="submit"><input type="submit" name="commit" value="Add house"></p>
	</form>
	<div class="grid">
		<div class="grid-sizer"></div>
	{% if houses %}
		{% for house in houses %}
			<div class="grid-item">
				<img src='{{ house.getFeaturedImageURL() }}'>
				{{ house.getPrice() }}</br>
				{{ house.address }}
			</div>
		{% endfor %}
	{% endif %}
	</div>
</body>
{% include 'footer.html' %}