{% include 'header.html' %}
<body>
	{% if error %}
		{{error}}
	{% endif %}
	<form method="post" action="/login">
		<p><input type="text" name="username" value="" placeholder="Username or Email"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
        <p class="submit"><input type="submit" name="commit" value="Login"></p>
	</form>
</body>
{% include 'footer.html' %}